<a href="https://colab.research.google.com/github/maielhadad99/first/blob/master/numpymini.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
lst = [10, 200, 90, 0]

import numpy as np
arr = np.array(lst)

print(arr + 10)

[ 20 210 100  10]

In [3]:
lst = [22, 45, 78, 50]

import numpy as np
import sys
arr = np.array(lst)
print(arr.nbytes)
print(sys.getsizeof(lst))

32
104

In [4]:
import numpy as np
a = np.array([1,2,3,4])               # creates a 1-dimensional array
b = np.array([[1,2,3,4], [5,6,7,8]])    # creates a 2-dimensional array
print(a)
print('----')
print(b)

[1 2 3 4]
----
[[1 2 3 4]
 [5 6 7 8]]

In [5]:
a = np.array([1,2,3,4])
b = np.array([[1,2,3,4], [5,6,7,8]])

print('The shape of the array a is ', a.shape)
print('The shape of the array b is ', b.shape)

The shape of the array a is  (4,)
The shape of the array b is  (2, 4)

In [6]:
print('The dimensions of array a is ', a.ndim)
print('The dimensions of array b is ', b.ndim)

The dimensions of array a is  1
The dimensions of array b is  2

In [7]:
print('The size of the array a is ', a.size)
print('The size of the array b is ', b.size)

The size of the array a is  4
The size of the array b is  8

In [8]:
print('The datatype of the array a is ', a.dtype)
print('The datatype of the array b is ', b.dtype)

The datatype of the array a is  int64
The datatype of the array b is  int64

In [9]:
print('The number of bytes in each element of the array a is  ', a.itemsize)
print('The number of bytes in each element of the array b is ', b.itemsize)

The number of bytes in each element of the array a is   8
The number of bytes in each element of the array b is  8

In [10]:
print(np.array([5,6,8,45,12,52]).reshape(2,3))

[[ 5  6  8]
 [45 12 52]]

In [11]:
print(np.matrix([[1,2],[3,4]]))

[[1 2]
 [3 4]]

In [12]:
print(np.eye(3)) # Identity matrix

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [13]:
print( np.zeros( (4,3) ) )

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

In [14]:
# NumPy array from 1 to 19
print(np.arange(1,20,dtype='int32'))

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]

In [15]:
# NumPy array from 1 to 19 with step size 2
print(np.arange(1,20,2,dtype='int8'))

[ 1  3  5  7  9 11 13 15 17 19]

In [16]:
print(np.ones( (3,3), dtype = np.float64 ))

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [17]:
print(np.array([5,6,8,45,12,52]).reshape(2,3))

[[ 5  6  8]
 [45 12 52]]

In [18]:
print(np.matrix([[1,2],[3,4]]))

[[1 2]
 [3 4]]

In [19]:
a = np.array([[1,2,3],[4,5,6],[7,8,9]])

# Pull out second element of third row
print(a[0][2]) # index 0 row and then 1 and 2 
print('==========')
# Pull out first two rows and columns
print(a[:2,:2])
print('==========')
# Pull all elements of the third row
print(a[2,:])

3
==========
[[1 2]
 [4 5]]
==========
[7 8 9]

In [20]:
a=np.array([[1,2],[3,4],[5,6]])

print(a[[0,1,2],[0,1,0]])
print('==========')

print(np.array([a[0,0],a[1,1],a[2,0]]))
print('==========')

print(a[[0,0],[1,1]])
print('==========')

print(np.array([a[0,1],a[0,1]]))
#Explanation: The print statements 1 & 2 and 3 & 4 yield the same results.
 #In the first case, a[[0, 1, 2], [0, 1, 0]] essentially means
  #we are indexing the value in first row-first column, 
  #second row-second column and third row-first column, 
  #which is the same as a[0, 0], a[1, 1], a[2, 0]]. Similarly,
   #you should be able to deduce the logic behind the second case.

[1 4 5]
==========
[1 4 5]
==========
[2 2]
==========
[2 2]

In [21]:
a = np.array([[4,7,1],[2,5,7],[7,1,1]])

# Boolean condition for values greater than 3
k = a > 3
print(k)

# Masking for the above boolean condition in the array
print(a[k])

[[ True  True False]
 [False  True  True]
 [ True False False]]
[4 7 5 7 7]

In [22]:
b = ([3,4.5,3+5j,0])
print(np.isreal(b))
print(b)
print(np.iscomplex(b))

[ True  True False  True]
[3, 4.5, (3+5j), 0]
[False False  True False]

In [23]:
import numpy as np
arr = np.array([1,2,3,4,5,6,7])
print(arr[arr > 2])

[3 4 5 6 7]

In [24]:
a = np.array([[1,2,3],[4,5,6],[7,8,9]])
b = np.array([[10,11,12],[13,14,15],[16,17,18]])
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(np.add(a,b))
a = np.array([[1,4,9],[16,25,36]])
print(np.sqrt(a))

[[11 13 15]
 [17 19 21]
 [23 25 27]]
[[-9 -9 -9]
 [-9 -9 -9]
 [-9 -9 -9]]
[[ 10  22  36]
 [ 52  70  90]
 [112 136 162]]
[[0.1        0.18181818 0.25      ]
 [0.30769231 0.35714286 0.4       ]
 [0.4375     0.47058824 0.5       ]]
[[11 13 15]
 [17 19 21]
 [23 25 27]]
[[1. 2. 3.]
 [4. 5. 6.]]

In [25]:
coefficients =  np.array([1,-4,4])
roots = np.roots(coefficients)
print(roots)

[2. 2.]

In [26]:
a = np.array([5,6,7,8])
b = np.array([5,6,7,8])
print(np.array_equal(a,b))

True

In [27]:
a = np.array([[2,5,7],[4,25,30]])

# computes sum over columns
print(a.sum(axis=0))
print('==========')

# computes sum over rows
print(a.sum(axis=1))
print('==========')

# computes total sum
print(a.sum())

[ 6 30 37]
==========
[14 59]
==========
73

In [56]:
#mini project
a= np.array ()

TypeError: ignored

In [30]:
data_file ='/content/makeSenseOfCensus.csv'
data = np.genfromtxt(data_file, delimiter=",", skip_header=1)

In [31]:
print("\nData: \n\n", data)

Data:

 [[39. 13.  4. ...  0. 40.  0.]
 [50. 13.  4. ...  0. 13.  0.]
 [38.  9.  4. ...  0. 40.  0.]
 ...
 [48. 13.  4. ...  0. 58.  1.]
 [40. 10.  4. ...  0. 40.  0.]
 [39. 13.  4. ...  0. 50.  1.]]

In [32]:
print("\nType of data: \n\n", type(data))

Type of data:

 <class 'numpy.ndarray'>

In [33]:
print("\nData: \n\n", data)

Data:

 [[39. 13.  4. ...  0. 40.  0.]
 [50. 13.  4. ...  0. 13.  0.]
 [38.  9.  4. ...  0. 40.  0.]
 ...
 [48. 13.  4. ...  0. 58.  1.]
 [40. 10.  4. ...  0. 40.  0.]
 [39. 13.  4. ...  0. 50.  1.]]

In [34]:
new_record= np.array([[50, 9, 4, 1, 0, 0, 40, 0]], dtype="float") 
print(new_record)
np.concatenate((new_record,data))

[[50.  9.  4.  1.  0.  0. 40.  0.]]

array([[50.,  9.,  4., ...,  0., 40.,  0.],
       [39., 13.,  4., ...,  0., 40.,  0.],
       [50., 13.,  4., ...,  0., 13.,  0.],
       ...,
       [48., 13.,  4., ...,  0., 58.,  1.],
       [40., 10.,  4., ...,  0., 40.,  0.],
       [39., 13.,  4., ...,  0., 50.,  1.]])

In [35]:
age=np.array(data[:,0])
print(age)

[39. 50. 38. 53. 28. 37. 49. 52. 31. 42. 37. 30. 23. 32. 40. 34. 25. 32.
 38. 43. 40. 54. 35. 43. 59. 56. 19. 54. 39. 49. 23. 20. 45. 30. 22. 48.
 21. 19. 31. 48. 31. 53. 24. 49. 25. 57. 53. 44. 41. 29. 25. 18. 47. 50.
 47. 43. 46. 35. 41. 30. 30. 32. 48. 42. 29. 36. 28. 53. 49. 25. 19. 31.
 29. 23. 79. 27. 40. 67. 18. 31. 18. 52. 46. 59. 44. 53. 49. 33. 30. 43.
 57. 37. 28. 30. 34. 29. 48. 37. 48. 32. 76. 44. 47. 20. 29. 32. 17. 30.
 31. 42. 24. 38. 56. 28. 36. 53. 56. 49. 55. 22. 21. 40. 30. 29. 19. 47.
 20. 31. 35. 39. 28. 24. 38. 37. 46. 38. 43. 27. 20. 49. 61. 27. 19. 45.
 70. 31. 22. 36. 64. 43. 47. 34. 33. 21. 52. 48. 23. 71. 29. 42. 68. 25.
 44. 28. 45. 36. 39. 46. 18. 66. 27. 28. 51. 27. 28. 27. 21. 34. 18. 33.
 44. 43. 30. 40. 37. 34. 41. 53. 31. 58. 38. 24. 41. 47. 41. 23. 36. 40.
 35. 24. 26. 19. 51. 42. 37. 18. 36. 35. 58. 17. 44. 37. 35. 60. 54. 37.
 50. 38. 45. 25. 31. 64. 90. 54. 53. 18. 60. 66. 75. 65. 35. 41. 25. 33.
 28. 59. 40. 41. 38. 23. 40. 41. 24. 20. 38. 56. 58. 32. 40. 45. 41. 42.
 59. 19. 58. 42. 20. 32. 45. 50. 36. 45. 17. 59. 26. 37. 19. 64. 33. 33.
 61. 17. 50. 27. 30. 43. 44. 35. 25. 24. 22. 42. 34. 60. 21. 57. 41. 50.
 25. 50. 36. 31. 29. 21. 27. 65. 37. 39. 24. 38. 48. 21. 31. 55. 24. 43.
 26. 46. 35. 41. 26. 34. 19. 36. 22. 24. 77. 22. 29. 62. 39. 43. 35. 29.
 76. 63. 23. 43. 58. 66. 41. 26. 47. 55. 53. 17. 30. 49. 19. 45. 26. 38.
 36. 33. 22. 43. 67. 30. 56. 31. 33. 26. 33. 46. 59. 38. 65. 40. 42. 26.
 36. 62. 43. 43. 22. 28. 56. 22. 57. 39. 26. 17. 40. 45. 44. 20. 33. 23.
 46. 38. 54. 46. 25. 46. 36. 23. 29. 44. 19. 19. 35. 27. 46. 34. 34. 44.
 45. 20. 25. 52. 20. 28. 50. 34. 28. 41. 28. 46. 28. 32. 41. 24. 33. 46.
 31. 35. 52. 30. 34. 34. 20. 17. 32. 29. 33. 25. 36. 23. 63. 47. 80. 17.
 40. 30. 27. 33. 34. 34. 23. 42. 29. 45. 24. 44. 27. 20. 44. 51. 20. 17.
 19. 45. 60. 42. 44. 40. 30. 38. 23. 32. 44. 54. 32. 50. 24. 37. 52. 38.
 49. 30. 60. 22. 35. 30. 67. 46. 17. 22. 27. 23. 33. 43. 28. 41. 52. 25.
 63. 59. 45. 38. 40. 46. 35. 34. 33. 41. 20. 23. 26. 72. 23. 62. 52. 58.
 25. 24. 19. 43. 47. 39. 49. 53. 32. 34. 28. 57. 25. 20. 21. 34. 38. 50.
 24. 37. 44. 28. 42. 74. 38. 44. 44. 26. 36. 41. 67. 39. 57. 29. 31. 34.
 44. 29. 30. 27. 27. 32. 58. 35. 21. 28. 46. 36. 72. 35. 33. 69. 35. 31.
 34. 30. 28. 54. 47. 24. 52. 20. 43. 45. 29. 47. 24. 51. 17. 37. 27. 29.
 18. 36. 58. 26. 65. 57. 59. 27. 31. 21. 29. 18. 52. 57. 42. 55. 60. 31.
 23. 27. 23. 42. 25. 49. 32. 19. 60. 42. 35. 48. 51. 29. 36. 17. 52. 24.
 24. 26. 27. 39. 30. 50. 52. 46. 23. 45. 65. 29. 47. 30. 34. 38. 33. 49.
 47. 49. 43. 30. 58. 19. 21. 33. 47. 52. 26. 60. 21. 36. 31. 50. 31. 71.
 58. 30. 20. 24. 35. 38. 27. 29. 70. 34. 44. 43. 44. 35. 27. 43. 20. 42.
 27. 42. 20. 24. 48. 17. 17. 33. 50. 22. 17. 32. 31. 58. 29. 37. 34. 23.
 18. 34. 66. 45. 41. 26. 54. 24. 42. 20. 23. 25. 35. 31. 30. 19. 36. 31.
 21. 31. 46. 44. 40. 45. 60. 18. 28. 36. 36. 40. 36. 31. 33. 19. 22. 34.
 33. 41. 29. 50. 42. 43. 44. 20. 31. 65. 23. 55. 26. 25. 45. 35. 36. 43.
 56. 42. 19. 55. 42. 26. 17. 42. 55. 32. 29. 46. 29. 22. 58. 23. 39. 27.
 54. 33. 46. 37. 36. 59. 34. 53. 51. 32. 31. 22. 47. 32. 26. 37. 31. 37.
 55. 23. 36. 34. 43. 54. 43. 28. 40. 41. 40. 42. 61. 18. 59. 21. 48. 41.
 18. 23. 60. 22. 61. 25. 46. 43. 43. 24. 68. 31. 17. 32. 50. 33. 64. 20.
 30. 22. 43. 22. 17. 47. 41. 56. 64. 47. 48. 31. 29. 30. 32. 57. 62. 39.
 43. 24. 42. 53. 26. 73. 72. 55. 25. 41. 24. 63. 17. 35. 51. 62. 55. 43.
 40. 37. 39. 31. 61. 26. 46. 26. 48. 34. 34. 59. 34. 49. 18. 43. 48. 28.
 33. 24. 21. 17. 39. 29. 44. 24. 71. 51. 55. 41. 23. 38. 39. 19. 49. 32.
 27. 38. 33. 63. 23. 33. 54. 29. 48. 35. 28. 37. 42. 40. 47. 22. 30. 28.
 63. 51. 22. 27. 35. 46. 37. 24. 37. 53. 27. 38. 53. 34. 23. 39. 43. 67.
 81. 21. 23. 25. 42. 38. 64. 32. 37. 51. 22. 33. 42. 19. 51. 23. 37. 37.
 47. 41. 33. 31. 31. 35. 38. 18. 20. 54. 40. 36. 43. 44. 44. 43. 51. 18.
 51. 41. 44. 33. 33. 42. 25. 32. 32. 36. 28. 20. 35. 55. 48. 36. 34. 28.
 67. 37. 44. 25. 21. 40. 78. 34. 49. 22. 23. 60. 45. 63. 41. 47. 44. 51.
 46. 41. 50. 47. 35. 56. 45. 48. 40. 39.]

In [36]:
max_age = max(age)
print(max_age)

90.0

In [37]:
min_age = min(age)
print(min_age)

17.0

In [38]:
mean_age = np.mean(age)
print(mean_age)

38.051

In [39]:
std_age = np.std(age)
print(std_age)

13.342803266180612

In [40]:
Race=np.array(data[:,2])
print(Race)

[4. 4. 4. 2. 2. 4. 2. 4. 4. 4. 2. 1. 4. 2. 1. 0. 4. 4. 4. 4. 4. 2. 2. 4.
 4. 4. 4. 1. 4. 4. 4. 2. 4. 4. 2. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 2. 4. 4.
 4. 4. 3. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 2.
 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 2. 1. 4. 4.
 4. 4. 4. 2. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 2. 4. 4.
 4. 4. 2. 4. 2. 4. 4. 4. 4. 4. 4. 4. 4. 4. 2. 4. 4. 4. 4. 1. 4. 4. 4. 4.
 4. 2. 4. 4. 4. 4. 4. 4. 1. 4. 4. 4. 4. 2. 4. 2. 4. 4. 1. 1. 4. 4. 4. 4.
 4. 4. 4. 4. 4. 4. 4. 4. 2. 2. 4. 4. 2. 4. 2. 4. 4. 2. 4. 4. 4. 4. 2. 4.
 2. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 2. 4. 4. 4. 2. 4. 0. 1. 4. 2.
 4. 4. 4. 4. 4. 4. 2. 2. 4. 4. 0. 4. 4. 4. 2. 2. 4. 3. 4. 4. 4. 4. 4. 4.
 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 2. 2. 4. 4. 1. 4. 4. 4. 4. 4. 4. 4. 4.
 4. 1. 4. 4. 4. 4. 4. 4. 4. 4. 4. 2. 4. 4. 4. 4. 4. 4. 2. 4. 4. 4. 4. 4.
 4. 4. 4. 4. 4. 4. 2. 4. 4. 1. 4. 4. 4. 1. 4. 4. 1. 4. 4. 4. 4. 4. 4. 1.
 2. 2. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 2. 4. 4. 4. 2. 4. 4. 4. 4. 4.
 4. 4. 2. 2. 4. 4. 4. 4. 2. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 3. 4. 4. 4.
 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 2. 2. 4. 4. 4. 4. 4. 4. 4. 4. 4.
 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 3. 4. 4. 4.
 4. 4. 2. 2. 4. 4. 4. 4. 4. 4. 2. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4.
 4. 4. 1. 4. 2. 4. 4. 4. 4. 4. 4. 4. 4. 4. 2. 0. 4. 4. 2. 4. 4. 2. 4. 1.
 4. 2. 4. 4. 4. 2. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4.
 4. 4. 4. 4. 2. 2. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4.
 4. 2. 4. 4. 2. 4. 4. 2. 4. 4. 4. 4. 0. 4. 4. 4. 4. 4. 2. 4. 4. 4. 4. 4.
 4. 4. 3. 4. 2. 4. 4. 4. 2. 4. 4. 2. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4.
 4. 2. 2. 4. 4. 4. 4. 4. 4. 4. 4. 2. 4. 0. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4.
 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 1. 4. 4. 4. 4. 0. 4. 4. 4.
 4. 4. 4. 4. 4. 2. 4. 0. 2. 4. 4. 4. 4. 4. 4. 4. 2. 4. 4. 4. 4. 2. 2. 4.
 4. 2. 4. 4. 4. 4. 2. 2. 4. 2. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4.
 4. 4. 4. 4. 1. 4. 4. 1. 4. 4. 4. 4. 2. 4. 4. 4. 4. 4. 4. 2. 1. 4. 4. 4.
 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 2. 4. 4. 4. 4. 4. 4. 4. 2. 4. 4. 4. 4.
 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 2. 2. 4. 4. 4. 2. 4. 4. 4. 2. 4. 4. 4. 4.
 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 1. 4. 4. 2. 4. 2. 4. 2. 4. 4. 4. 4. 4.
 4. 4. 4. 2. 2. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 2. 4. 4. 4. 4. 4. 4. 4. 4.
 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 3. 2. 4. 4. 4. 4. 4. 4.
 4. 4. 4. 2. 4. 2. 4. 4. 4. 2. 4. 4. 4. 4. 4. 4. 4. 4. 4. 2. 4. 4. 4. 4.
 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4.
 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4.
 4. 4. 4. 4. 4. 4. 4. 4. 4. 1. 2. 4. 2. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4.
 2. 4. 2. 4. 1. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 0. 4. 4. 4. 2. 4. 4. 4. 4.
 4. 4. 2. 4. 1. 1. 4. 4. 4. 4. 4. 2. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4.
 4. 4. 4. 4. 0. 2. 4. 4. 4. 2. 4. 4. 4. 4. 4. 4. 2. 4. 4. 4. 4. 4. 4. 4.
 4. 4. 4. 4. 4. 4. 4. 4. 1. 4. 4. 4. 4. 4. 4. 4. 4. 4. 2. 4. 4. 4. 2. 4.
 4. 4. 2. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4. 4.]

In [41]:
race_0=data[data[:,2]==0]
len_0=len(race_0)
print(len_0)

10

In [42]:
race_1=data[data[:,2]==1]
len_1=len(race_1)
print(len_1)

27

In [43]:
race_2=data[data[:,2]==2]
len_2=len(race_2)
print(len_2)

110

In [44]:
race_3=data[data[:,2]==3]
len_3=len(race_3)
print(len_3)

6

In [45]:
race_4=data[data[:,2]==4]
len_4=len(race_4)
print(len_4)

847

The Race 3 is the minority

In [46]:
minority_race=len(race_3)
print(minority_race)

6

In [47]:
senior_citizens=data[age>60]

In [48]:

senior_citizens_len=len(senior_citizens)
len(senior_citizens)

61

In [ ]:

senior_citizens=data[data[:,0]>60]
print(senior_citizens)

In [50]:
working_hours_sum=np.sum(senior_citizens[:,6])
print(working_hours_sum)

1917.0

In [51]:
avg_working_hours=np.divide(working_hours_sum,senior_citizens_len)
print(avg_working_hours)

31.42622950819672

The government policy is not followed

In [52]:
high=data[data[:,1]>10]
print(high)

[[39. 13.  4. ...  0. 40.  0.]
 [50. 13.  4. ...  0. 13.  0.]
 [28. 13.  2. ...  0. 40.  0.]
 ...
 [45. 14.  4. ...  0. 45.  0.]
 [48. 13.  4. ...  0. 58.  1.]
 [39. 13.  4. ...  0. 50.  1.]]

In [53]:
low=data[data[:,2]<=10]
print(low)

[[39. 13.  4. ...  0. 40.  0.]
 [50. 13.  4. ...  0. 13.  0.]
 [38.  9.  4. ...  0. 40.  0.]
 ...
 [48. 13.  4. ...  0. 58.  1.]
 [40. 10.  4. ...  0. 40.  0.]
 [39. 13.  4. ...  0. 50.  1.]]

In [54]:
avg_pay_high=np.mean(high[:,7])
print(avg_pay_high)

0.42813455657492355

In [55]:
avg_pay_low=np.mean(low[:,7])
print(avg_pay_low)

0.232

Yes the higher educated peopple have better pay in general